<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="css/notes-counter.css"/>
    <link rel="icon" type="image/x-icon" href="img/icon.png" />
    <!-- <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css"> -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="js/vue-filter.min.js"></script>
    <script src="js/notes-counter.js"></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
    <title>Measure Notes Calculator</title>
  </head>

  <body>
    <div id="app">
      <div class="banner">
        <h1 class="title">Measure Notes Calculator</h1>
      </div>
      <div class="wrapper">
        <div class="measure-container">
          <div class="measure-filter"><span>Time&nbsp;</span>
            <select v-model="selectedTime" class="measure-dropdown">
              <option v-for="option in options" v-bind:value="option.value" v-text="option.text"></option>
            </select>
          </div>
        </div>
        <div class="columns-container">
          <!-- COLUMN 1 -->
          <div class="column column--1">
            <form>
              <div class="img-container">
                <img class="xl-img" src="img/ronde.png" alt="">
              </div>
              <label for="rondes">Ronde(s)</label>
              <div class="buttons-container">
                <div class="value-button" id="decrease" v-on:click="decreaseValue('inputNumberR')" value="DecreaseValue">-</div>
                <input type="number" min="0" v-model="inputNumberR" v-on:input="updateNumb" name="rondes" id="rondes" size="4" maxlength="10" />
                <div class="value-button" id="increase" v-on:click="handler('inputNumberR')" value="IncreaseValue">+</div>
              </div>
              <div class="remaining-notes" v-text="remainingNotesCounter(4)"></div>
            </form>
            <form>
              <div class="img-container">
                <img class="xxl-img" src="img/blanche.png" alt="">
              </div>
              <label for="blanches">Blanche(s)</label>
              <div class="buttons-container">
                <div class="value-button" id="decrease" v-on:click="decreaseValue('inputNumberB')" value="DecreaseValue">-</div>
                <input type="number" min="0" v-model="inputNumberB" v-on:input="updateNumb" name="blanches" id="blanches" size="4" maxlength="10"/>
                <div class="value-button" id="increase" v-on:click="handler('inputNumberB')" value="IncreaseValue">+</div>
              </div>
              <div class="remaining-notes" v-text="remainingNotesCounter(2)"></div>
            </form>
            <form>
              <div class="img-container">
                <img class="xxl-img" src="img/noire.png" alt="">
              </div>
              <label for="noires">Noire(s)</label>
              <div class="buttons-container">
                <div class="value-button" id="decrease" v-on:click="decreaseValue('inputNumberN')" value="DecreaseValue">-</div>
                <input type="number" min="0" v-model="inputNumberN" v-on:input="updateNumb" name="noires" id="noires" size="4" maxlength="10"/>
                <div class="value-button" id="increase" v-on:click="increaseValue('inputNumberN')" value="IncreaseValue">+</div>
              </div>
              <div class="remaining-notes" v-text="remainingNotesCounter(1)"></div>
            </form>
            <form>
              <div class="img-container">
                <img src="img/croche.png" alt="">
              </div>
              <label for="rondes">Croche(s)</label>
              <div class="buttons-container">
                <div class="value-button" id="decrease" v-on:click="decreaseValue('inputNumberC')" value="DecreaseValue">-</div>
                <input type="number" min="0" v-model="inputNumberC" v-on:input="updateNumb" name="croches" id="croches" size="4" maxlength="10"/>
                <div class="value-button" id="increase" v-on:click="handler('inputNumberC')" value="IncreaseValue">+</div>
              </div>
              <div class="remaining-notes" v-text="remainingNotesCounter(0.5)"></div>
            </form>
            <form>
              <div class="img-container">
                <img src="img/double-croche.png" alt="">
              </div>
              <label for="blanches">Double croche(s)</label>
              <div class="buttons-container">
                <div class="value-button" id="decrease" v-on:click="decreaseValue('inputNumberDC')" value="DecreaseValue">-</div>
                <input type="number" min="0" v-model="inputNumberDC" v-on:input="updateNumb" name="double-croches" id="double-croches" size="4" maxlength="10"/>
                <div class="value-button" id="increase" v-on:click="increaseValue('inputNumberDC')" value="IncreaseValue">+</div>
              </div>
              <div class="remaining-notes" v-text="remainingNotesCounter(0.25)"></div>
            </form>
            <form>
              <div class="img-container">
                <img src="img/triple-croche.png" alt="">
              </div>
              <label for="noires">Triple croche(s)</label>
              <div class="buttons-container">
                <div class="value-button" id="decrease" v-on:click="decreaseValue('inputNumberTC')" value="DecreaseValue">-</div>
                <input type="number" min="0" v-model="inputNumberTC" v-on:input="updateNumb" name="triple-croches" id="triple-croches" size="4" maxlength="10"/>
                <div class="value-button" id="increase" v-on:click="increaseValue('inputNumberTC')" value="IncreaseValue">+</div>
              </div>
              <div class="remaining-notes" v-text="remainingNotesCounter(0.125)"></div>
            </form>
          </div>
          <!-- COLUMN 2 -->
          <div class="column column--2">
            <form>
              <div class="img-container">
                <img src="img/ronde-pointée.png" alt="">
              </div>
              <label for="rondes-pointées">Ronde(s) pointée(s)</label>
              <div class="buttons-container">
                <div class="value-button" id="decrease" v-on:click="decreaseValue('inputNumberRP')" value="DecreaseValue">-</div>
                <input type="number" min="0" v-model="inputNumberRP" v-on:input="updateNumb" name="rondes-pointées" id="rondes-pointées" size="4" maxlength="10"/>
                <div class="value-button" id="increase" v-on:click="increaseValue('inputNumberRP')" value="IncreaseValue">+</div>
              </div>
              <div class="remaining-notes" v-text="remainingNotesCounter(4 + 4/2)"></div>
            </form>
            <form>
              <div class="img-container">
                <img class="xl-img" src="img/blanche-pointée.png" alt="">
              </div>
              <label for="blanches-pointées">Blanche(s) pointée(s)</label>
              <div class="buttons-container">
                <div class="value-button" id="decrease" v-on:click="decreaseValue('inputNumberBP')" value="DecreaseValue">-</div>
                <input type="number" min="0" v-model="inputNumberBP" v-on:input="updateNumb" name="blanches-pointées" id="blanches-pointées" size="4" maxlength="10"/>
                <div class="value-button" id="increase" v-on:click="increaseValue('inputNumberBP')" value="IncreaseValue">+</div>
              </div>
              <div class="remaining-notes" v-text="remainingNotesCounter(2 + 2/2)"></div>
            </form>
            <form>
              <div class="img-container">
                <img class="xl-img" src="img/noire-pointée.png" alt="">
              </div>
              <label for="noires-pointées">Noire(s) pointée(s)</label>
              <div class="buttons-container">
                <div class="value-button" id="decrease" v-on:click="decreaseValue('inputNumberNP')" value="DecreaseValue">-</div>
                <input type="number" min="0" v-model="inputNumberNP" v-on:input="updateNumb" name="noires-pointées" id="noires-pointées" size="4" maxlength="10"/>
                <div class="value-button" id="increase" v-on:click="increaseValue('inputNumberNP')" value="IncreaseValue">+</div>
              </div>
              <div class="remaining-notes" v-text="remainingNotesCounter(1 + 1/2)"></div>
            </form>
            <form>
              <div class="img-container">
                <img src="img/croche-pointée.png" alt="">
              </div>
              <label for="croches-pointées">Croche(s) pointée(s)</label>
              <div class="buttons-container">
                <div class="value-button" id="decrease" v-on:click="decreaseValue('inputNumberCP')" value="DecreaseValue">-</div>
                <input type="number" min="0" v-model="inputNumberCP" v-on:input="updateNumb" name="croches-pointées" id="croches-pointées" size="4" maxlength="10"/>
                <div class="value-button" id="increase" v-on:click="increaseValue('inputNumberCP')" value="IncreaseValue">+</div>
              </div>
              <div class="remaining-notes" v-text="remainingNotesCounter(0.5 + 0.5/2)"></div>
            </form>
            <form>
              <div class="img-container">
                <img src="img/double-croche-pointée.png" alt="">
              </div>
              <label for="doubles-croches-pointées">Double croche(s) pointée(s)</label>
              <div class="buttons-container">
                <div class="value-button" id="decrease" v-on:click="decreaseValue('inputNumberDCP')" value="DecreaseValue">-</div>
                <input type="number" min="0" v-model="inputNumberDCP" v-on:input="updateNumb" name="doubles-croches-pointées" id="doubles-croches-pointées" size="4" maxlength="10"/>
                <div class="value-button" id="increase" v-on:click="increaseValue('inputNumberDCP')" value="IncreaseValue">+</div>
              </div>
              <div class="remaining-notes" v-text="remainingNotesCounter(0.25 + 0.25/2)"></div>
            </form>
            <form>
              <div class="img-container">
                <img src="img/triple-croche-pointée.png" alt="">
              </div>
              <label for="triple-croches-pointées">Triple croche(s) pointée(s)</label>
              <div class="buttons-container">
                <div class="value-button" id="decrease" v-on:click="decreaseValue('inputNumberTCP')" value="DecreaseValue">-</div>
                <input type="number" min="0" v-model="inputNumberTCP" v-on:input="updateNumb" name="triple-croches-pointées" id="triple-croches-pointées" size="4" maxlength="10"/>
                <div class="value-button" id="increase" v-on:click="increaseValue('inputNumberTCP')" value="IncreaseValue">+</div>
              </div>
              <div class="remaining-notes" v-text="remainingNotesCounter(0.125 + 0.125/2)"></div>
            </form>
          </div>
          <!-- COLUMN 3 -->
          <div class="column column--3">
            <form>
              <div class="img-container">
                <img src="img/triolet-blanches.png" alt="">
              </div>
              <label for="triolet-blanches">Triolet de blanches</label>
              <div class="buttons-container">
                <div class="value-button" id="decrease" v-on:click="decreaseValue('inputNumberTrioB')" value="DecreaseValue">-</div>
                <input type="number" min="0" v-model="inputNumberTrioB" v-on:input="updateNumb" name="triolet-blanches" id="triolet-blanches" size="4" maxlength="10"/>
                <div class="value-button" id="increase" v-on:click="increaseValue('inputNumberTrioB')" value="IncreaseValue">+</div>
              </div>
              <div class="remaining-notes" v-text="remainingNotesCounter(4)"></div>
            </form>
            <form>
              <div class="img-container">
                <img src="img/triolet-noires.png" alt="">
              </div>
              <label for="triolet-noires">Triolet de noires</label>
              <div class="buttons-container">
                <div class="value-button" id="decrease" v-on:click="decreaseValue('inputNumberTrioN')" value="DecreaseValue">-</div>
                <input type="number" min="0" v-model="inputNumberTrioN" v-on:input="updateNumb" name="triolet-noires" id="triolet-noires" size="4" maxlength="10"/>
                <div class="value-button" id="increase" v-on:click="increaseValue('inputNumberTrioN')" value="IncreaseValue">+</div>
              </div>
              <div class="remaining-notes" v-text="remainingNotesCounter(2)"></div>
            </form>
            <form>
              <div class="img-container">
                <img src="img/triolet-croches.png" alt="">
              </div>
              <label for="triolet-croches">Triolet de croches</label>
              <div class="buttons-container">
                <div class="value-button" id="decrease" v-on:click="decreaseValue('inputNumberTrioC')" value="DecreaseValue">-</div>
                <input type="number" min="0" v-model="inputNumberTrioC" v-on:input="updateNumb" name="triolet-croches" id="triolet-croches" size="4" maxlength="10"/>
                <div class="value-button" id="increase" v-on:click="increaseValue('inputNumberTrioC')" value="IncreaseValue">+</div>
              </div>
              <div class="remaining-notes" v-text="remainingNotesCounter(1)"></div>
            </form>
            <form>
              <div class="img-container">
                <img src="img/triolet-doubles-croches.png" alt="">
              </div>
              <label for="triolet-doubles-croches">Triolet de doubles croches</label>
              <div class="buttons-container">
                <div class="value-button" id="decrease" v-on:click="decreaseValue('inputNumberTrioDC')" value="DecreaseValue">-</div>
                <input type="number" min="0" v-model="inputNumberTrioDC" v-on:input="updateNumb" name="triolet-doubles-croches" id="triolet-doubles-croches" size="4" maxlength="10"/>
                <div class="value-button" id="increase" v-on:click="increaseValue('inputNumberTrioDC')" value="IncreaseValue">+</div>
              </div>
              <div class="remaining-notes" v-text="remainingNotesCounter(0.5)"></div>
            </form>
            <form>
              <div class="img-container">
                <img src="img/triolet-triples-croches.png" alt="">
              </div>
              <label for="triolet-triples-croches">Triolet de triples croches</label>
              <div class="buttons-container">
                <div class="value-button" id="decrease" v-on:click="decreaseValue('inputNumberTrioTC')" value="DecreaseValue">-</div>
                <input type="number" min="0" v-model="inputNumberTrioTC" v-on:input="updateNumb" name="triolet-triples-croches" id="triolet-triples-croches" size="4" maxlength="10"/>
                <div class="value-button" id="increase" v-on:click="increaseValue('inputNumberTrioTC')" value="IncreaseValue">+</div>
              </div>
              <div class="remaining-notes" v-text="remainingNotesCounter(0.25)"></div>
            </form>
            <form>
              <div class="img-container">
                <img src="img/triolet-quadruples-croches.png" alt="">
              </div>
              <label for="triolet-quadruples-croches">Triolet de quadruples croches</label>
              <div class="buttons-container">
                <div class="value-button" id="decrease" v-on:click="decreaseValue('inputNumberTrioQC')" value="DecreaseValue">-</div>
                <input type="number" min="0" v-model="inputNumberTrioQC" v-on:input="updateNumb" name="triolet-quadruples-croches" id="triolet-quadruples-croches" size="4" maxlength="10"/>
                <div class="value-button" id="increase" v-on:click="increaseValue('inputNumberTrioQC')" value="IncreaseValue">+</div>
              </div>
              <div class="remaining-notes" v-text="remainingNotesCounter(0.125)"></div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </body>

</html>
